/*font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'PT Sans', sans-serif;*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.header_social_links{
	background-color: #252323;
}

.header_social_links_wrapper{
	max-width: 978px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 59px;
	align-items: center;
}

.header_social_links_logo{
	padding-left: 15px;

	font-family: 'Pacifico', cursive;
	font-size: 24px;
	line-height: 0.83;
	color: #00bac6;
}

.header_social_links_logo span{
	color: #fff;
}

.header_social_link{

  font-size: 28px;
  line-height: 1.07;
  color: #c1c1c1;
  margin-left: 27px;
  outline: none;
}

/*НАВИГАЦИЯ*/

.navigation_wrapper{
	max-width: 978px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
}


.nav_links{
	outline: none;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #8b8b8b;
	padding:30px 15px 30px 15px; 
	display: inline-flex;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
}

.nav_links:hover{
	 color: #00bac6;
	border-bottom: solid 2px #00bac6;

}

.search{
	position: relative;

}

.search_input{
	width: 189px;
	height: 34px;
	border: solid 1px #d6d6d6;
	background-color: #ffffff;
	padding-left: 19px;
	outline: none;
}

.search_btn{
	width: 18px;
	height: 18px;
	background-image: url(../images/search_btn.png);
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}



/*СЕКЦИЯ BANNER*/
.banner{
	width: 100%;
	height: 454px;
	background-image: url(../images/slider_bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left bottom;
	position: relative;
	filter: saturate (130%);
}

.banner::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	z-index: -100;
	
}

.banner_wrapper{
	max-width: 978px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	z-index: 1;

}

.slider_item{
	padding-top: 171px;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	height: 454px;
	z-index: 15;
}

.slider_wr{
	position: relative;
}

.item_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 0.5;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.item_descritpion{

  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
  max-width: 652px;
}

#customPrevBtn{
	left: 0;
	bottom: 50%;
	transform: translateY(50%);
	position: absolute;
	width: 25px;
	height: 51px;
	outline: none;
	text-decoration: none;
	background-image: url(../images/prew_btn.png);
	z-index: 999;
}

#customNextBtn{
	right: 0;
	bottom: 50%;
	transform: translateY(50%);
	position: absolute;
	width: 25px;
	height: 51px;
	outline: none;
	text-decoration: none;
	background-image: url(../images/next_btn.png);
	z-index: 999;
}

.owl-dots{
	position: absolute;
	bottom: 27px;
	left: 50%;
	transform: translateX(-50%);

}
.owl-dot {
	z-index: 999;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 4px solid #fff !important;
	border-radius: 50%;
	outline: none;
}

.active span{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
	background-color: #00bac6 !important;
}

/*СЕКЦИЯ С ФИЛЬТРОМ*/
.filtr_control{
	width: 100%;
	height: 547px;
}
.filtr_control_wrapper{
	max-width: 978px;
	margin: 0 auto;
	padding-top: 58px;
}



.filtr_control_caption{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 0.67;
	letter-spacing: -0.75px;
	text-align: center;
	color: #818181;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.filtr_control_caption span{
	font-weight: bold;
	color: #646464;
}

.filtr_control_descr{
font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  color: #9a9a9a;
}

.filtr_control_item_wrapper{
	display: flex;
	justify-content: space-between;
}

.filtr_control_item{
	padding-top: 46px;
	width: 296px;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	position: relative;
	
}

.filtr_control_item_title{

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #7b7b7b;
	 font-weight: normal;
	 margin-top: 17px;
}

.filtr_control_item_title span{
  font-weight: bold;

}

.filtr_control_item_descr{

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #9a9a9a;
  margin-top: 13px;
}


.svg_item{
	fill: #cacaca;
	position: relative;
	z-index: -100;
	


}

.svg_imap{
	cursor: pointer;
}
.active_icon{
	fill: #00bac6;
	margin-top: 32px;
}


.filter_items{
	background-color: #eeeeee;
	padding-top: 38px;
	padding-bottom: 21px;
}

.filter_items_wr{
	max-width: 978px;
	margin: 0 auto;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;

}

.item{
	width: 310px;
	height: 280px;
	border: solid 1px #c5c5c5;
	margin-bottom: 26px;

}

.item_img img{
	width: 100%;
	height: 185px;
	overflow: hidden;

}

.item_img img:hover{
	opacity: .7;
}

.item_descr_title{
font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #717070;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 9px;
}

.item_descr_text{
	width: 246px;
  height: 35px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  color: #818181;
  overflow: hidden;
  margin-left: 24px;

}

.triangle{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -70px;
	border: 50px solid transparent;
	border-bottom: 50px solid #eeeeee;	

}

.hide{
	display: none;
}


/*СЕКЦИЯ CUSTOMER LOGOS*/

.customer_logos_wrapper{
	max-width: 978px;
	margin: 0 auto;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 56px;
	padding-bottom: 54px;
}

.footer_items{
	background-color: #524e4e;
}

.footer_items_wr{
	max-width: 978px;
	margin: 0 auto;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer_item_popular_post{
	width: 200px;
}
.footer_item_title{

  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 0.91;
  text-align: left;
  color: #ffffff;
  font-weight: normal;
  margin-top: 38px;
  margin-bottom: 18px;
}

.post_descr{
  width: 182px;
 
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #c0c0c0;
  margin-bottom: 12px;
}
.tags_descr{
	width: 194px;
  font-family: 'PT Sans', sans-serif;
  height: 197px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: justify;
  color: #c1c1c1;
}
.tags_descr span{
	font-size: 20px;
	color: #f5f5f5;
}
.post_date{
	display: flex;
}
.post_date i{

  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: #00bac6;
}

.post_date p{
 font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #898989;
  margin-left: 6px;
  margin-bottom: 21px;
}

.post{
	margin-top: 21px;

}
.line{
	border-bottom: 1px solid #5c5c5c;
}

.about_us_descr{
	  width: 201px;
 font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: justify;
  color: #c1c1c1;
  margin-bottom: 25px;
}

.get_in_tuch_item{
	display: flex;
}

.get_in_tuch_item i{
	width: 17px;
  font-size: 22px;
  line-height: 1.36;
  text-align: left;
  color: #00bac6;
  margin-right: 18px;
}

.get_in_tuch_item p{

 font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: #c1c1c1;
}
.footer_rules{
	background-color: #262326;
}
.footes_ruules_wr{
	max-width: 978px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 98px;
	align-items: center;
}

.footer_rules_text{
 font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #c1c1c1;
}

@media screen and (max-width: 995px){
	.header_social_links{
		padding-left: 20px;
		padding-right: 20px;
	}
	.footes_ruules_wr{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 945px){
	.filter_items_wr{
		justify-content: space-evenly;
	}

	.filtr_control_item{
		width: 30%;
	}

	#customNextBtn {
		right: 20px;
	}

	#customPrevBtn{
		left: 20px;
	}
	.footer_items_wr{
		padding-left: 20px;
		padding-right: 20px;
	}

	.customer_logos_wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}
	.filtr_control_item_wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}
	.filtr_control_title{
		padding-left: 20px;
		padding-right: 20px;
	}

}

@media screen and (max-width: 845px){
	.footer_items_wr{
		justify-content: space-evenly;
		padding-left: 120px;
		padding-right: 120px;
		
	}


}

/*БУРГЕР*/
.burger{
	display: none;
	padding: 15px 0;
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;

}

.burger_item{
	position: relative;
	display: block;
	width: 28px;
	height: 3px;
	background-color: #646464;
	font-size: 0;
	color: transparent;
}

.burger_item:before{
	content: '';
	width: 28px;
	height: 3px;
	background-color: #646464;
	position: absolute;
	top: -10px;
	left: 0;
}

.burger_item:after{
	content: '';
	width: 28px;
	height: 3px;
	background-color: #646464;
	position: absolute;
	bottom: -10px;
	left: 0;
}

@media screen and (max-width: 795px){
	.navigation_wrapper{
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;

	}

	.nav_links{
		padding: 0;
	}
	.burger{
		display: block;
	}

	.nav{
		display: none;
	}
	.open{
		margin-top: 90px;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		right: 0;
		background-color: #fff;
		width: 100%;
		padding-left: 40px;
		z-index: 1500;
	}

	.triangle{
		display: none;
	}
	.filtr_control_caption{
		font-size: 24px;
	}
	.filtr_control_descr{
		font-size: 12px;
	} 
	.svg_item{
		transform: scale(.7);
	}
	.filtr_control_item_title{
		font-size: 17px;
	}
	.filtr_control_item_descr {
		font-size: 11px;
	} 
	.item_title{
		font-size: 30px;
	} 
	.item_descritpion {
		font-size: 11px;
		width: 70%;
	}
	.filtr_control{
		height: 500px;
	} 

}

@media screen and (max-width: 635px){
	.header_social_link{
		font-size: 20px;
		margin-left: 20px;
	}
	.footer_items_wr{
		padding-bottom: 20px;
	}

	.customer_logos_item{
		width: 50%;
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	.customer_logos_wrapper{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.filter_items_wr{
		justify-content: center;
	}

	.filtr_control_item{
		padding-top: 30px;
	}
	.active_icon{
		margin-top: 15px;
	}
	.filtr_control_item_title{
		margin-top: 0;
	}
	.filtr_control_caption{
		font-size: 19px;
	}
}

@media screen and (max-width: 525px){
	.item_title{
		font-size: 22px;

	}
	.item_descritpion{
		font-size: 9px;
	}
	#customNextBtn{
		bottom: 3%;
		transform: scale(.7);

	}
	#customPrevBtn{
		bottom: 3%;
		transform: scale(.7);

	}
	.footes_ruules_wr{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: space-evently;
	}

	.filtr_control{
		height: auto;
		padding-bottom: 20px;
	}
	.filtr_control_caption {
		font-size: 15px;
		line-height: 1;
	}

	.filtr_control_item_title{
		font-size: 13px;
	} 
	.filtr_control_item_descr{
		font-size: 9px;
	} 
	.footer_rules_text{
		text-align: center;
	}
	.navigation_wrapper{
		padding-right: 20px;
	}
}