@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/Proxima_Nova/ProximaNova.ttf');
    src: url('../fonts/Proxima_Nova/?#iefix') format('embedded-opentype'),
        url('../fonts/Proxima_Nova/ProximaNova.woff2') format('woff2'),
        url('../fonts/Proxima_Nova/ProximaNova.woff') format('woff'),
        url('../fonts/Proxima_Nova/ProximaNova.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

// HEADER=====================

.header {

    // .header__content

    &__content {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
    }

    // .header__contacts

    &__contacts {
        display: flex;
        align-items: center;
    }

    // .header__number

    &__number {
        font-family: ProximaNova;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #292929;
    }

    // .header__button

    &__button {
        width: 225px;
        height: 50px;
        margin-left: 31px;
        
    }
}

.btn{
    border-radius: 8px;
    box-shadow: inset 0px 18px 23px -14px rgba(0, 0, 0, 0.1);
    background: #ffba15;
    border: none;
    font-family: ProximaNova;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:active{
        box-shadow: inset 0px -18px 23px -14px rgba(0, 0, 0, 0.1);

    }
}


// Главная секция==========================

.main-section {
    background: url(../img/bg/bg-header.jpeg) no-repeat top center;
    background-size: cover;
    padding-top: 189px;

    // .main-section__row

    &__row {
        display: flex;
        justify-content: space-between;
    }

    // .main-section__column

    &__column {
    }

    // .main-section__title

    &__title {
        max-width: 498px;;
        font-family: ProximaNova;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: left;
        color: #292929;
        text-transform: uppercase;
    }

    // .main-section__text

    &__text {
        font-family: ProximaNova;
        font-size: 24px;
        text-align: left;
        color: #292929;
        max-width: 272px;
        margin-top: 50px;
    }

    // .main-section__priсe

    &__priсe {
        margin-left: 5px;
        margin-top: 60px;
        width: 225px;
        height: 105px;
        background-color: #70c849;
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        color: #ffffff;
        padding: 25px 40px 24px 40px;

        span{
            font-size: 30px;
        }
        p{
            margin-bottom: 13px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    // .main-section__pay-condition

    &__pay-condition {
        margin-top: 37px;
        margin-bottom: 107px;
        margin-left: 5px;
        font-family: ProximaNova;
        font-size: 22px;
        font-weight: 900;
        color: #292929;
        text-transform: uppercase;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
    }

    // .main-section__form

    &__form {
    }
}

.column-main-section {
    max-width: 355px;

    // .column-main-section__text

    &__text {
        margin-left: 30px;
        margin-top: 36px;
        width: 207px;
        height: 25px;
        font-family: ProximaNova;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #565656;
    }
}
.form-main-section {
    width: 355px;
    height: 410px;
    background-color: #ffffff;
    padding: 46px 50px 43px 50px;

    // .form-main-section__caption

    &__caption {
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #292929;
        margin-bottom: 39px;

        span{
            font-weight: bold;
        }
    }

   

    // .form-main-section__input

    &__input {
        width: 100%;
        height: 54px;
        border-radius: 5px;
        border: solid 1px #dddddd;
        outline: none;   
        font-family: ProximaNova;
        font-size: 15px;
        color: #202020;
        text-align: center;
        margin-bottom: 25px;
        position: relative;
    }

     // .form-main-section__name

     &__name {
         display: block;


        
    }

    &__input-name{
        position: relative;
        display: block;


        &:before{
            content: 'Ваше имя';
            width: 70px;
            position: absolute;
            z-index: 10;
            text-align: center;
            top: 0;
            left: 50%;
            padding: 0 10px;
            background: #fff;
            font-family: ProximaNova;
            font-size: 13px;
            color: #565656;
            transform: translate(-50%, -50%);

        }
    }

    &__input-phone{
        position: relative;
        display: block;


        &:before{
            
            content: 'Номер телефона';
            width: 120px;
            position: absolute;
            z-index: 10;
            text-align: center;
            top: 0;
            left: 50%;
            padding: 0 10px;
            background: #fff;
            font-family: ProximaNova;
            font-size: 13px;
            color: #565656;
            transform: translate(-50%, -50%);

        }
    }

    // .form-main-section__phone

    &__phone {
    }

    &__input-name{
        
    }
    

    // .form-main-section__btn

    &__btn {
        width: 257px;
        height: 65px;
        font-size: 16px;
    }

    // .form-main-section__text

    &__text {
        margin-top: 15px;
        font-family: ProximaNova;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #565656;
    }
}


// СЕКЦИЯ ВЫГОДНЫЕ УСЛОВИЯ====================================================

.advantage {
    padding-top: 99px;
    padding-bottom: 140px;

    // .advantage__title

    &__title {
        font-family: ProximaNova;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;
    }

    // .advantage__items

    &__items {
        display: flex;
        margin-top: 130px;
        justify-content: space-between;
    }

    // .advantage__item

    &__item {
        
    }
}

.item-advantage {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // .item-advantage__img

    &__img {
        width: 66px;
        height: 66px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    // .item-advantage__title

    &__title {
        margin-top: 60px;
        font-family: ProximaNova;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;
    }

    // .item-advantage__description

    &__description {
        padding: 0 5px;
        max-width: 280px;
        margin-top: 35px;
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;

        a{
            color: #4aa223;
            text-decoration: none;
        }
    }
}

// СЕКЦИЯ С ЦЕНАМИ==============================================================

.price {
    background: url(../img/bg/bg-price.png) repeat;
    padding-top: 120px;
    padding-bottom: 111px;

    // .price__header

    &__header {
        position: relative;
    }

    // .price__title

    &__title {
        font-family: ProximaNova;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    // .price__description

    &__description {
        margin-top: 49px;
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    // .price__header-btn

    &__header-btn {
        top: 0;
        right: 0;
        position: absolute;
        width: 375px;
        height: 65px;
    }

    // .price__content

    &__content {
    }
}

.content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;

    // .content__item

    &__item {
        width: 400px;
        height: 670px;
        box-shadow: 0px 14px 21px 0 rgba(0, 0, 0, 0.17);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 50px 45px 50px;
        position: relative;
    }

    // .content__title

    &__title {
        font-family: ProximaNova;
        font-size: 19px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.05;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;
        margin-bottom: 35px;

    }

    // .content__img

    &__img {
        width: 300px;
        height: 200px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .content__price

    &__price {
        margin-top: 35px;
        font-family: ProximaNova;
        font-size: 19px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;

        span{
            font-size: 30px;
        }
    }

    // .content__list

    &__list {
        margin-top: 34px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .content__list-item

    &__list-item {
        margin-bottom: 10px;
        font-family: ProximaNova;
        font-size: 18px;
        color: #1a1820;
        line-height: 1;

        &:last-child{
            margin-bottom: 0;
        }

        &:before{
            content: '';
            width: 11px;
            height: 11px;
            display: inline-block;
            background: url(../img/icons/check.png) no-repeat center;
            margin-right: 10px;
        }
    }

    // .content__button

    &__button {
        width: 209px;
        height: 65px;
        position: absolute;
        bottom: 45px;
    }
}


//  СЕКЦИЯ С ОТЗЫВАМИ==========================================================
.reviews {
    background: url(../img/bg/bg-footer.jpg) repeat;
    padding-top: 120px;
    padding-bottom: 59px;

    // .reviews__content

    &__content {
    }

    // .reviews__title

    &__title {
        font-family: ProximaNova;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;
        margin-bottom: 100px;

    }

    // .reviews__slider

    &__slider {
    }
}

.slider-reviews {
    margin: auto;
    overflow: hidden;
    max-width: 1180px;
    height: 500px;
    box-shadow: 0px 12px 18px 0 rgba(0, 0, 0, 0.11);


    // .slider-reviews__item

    &__item {

    }

    // .slider-reviews__prev
    &__prev{
        width: 50px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        transform: translateY(50%);
        cursor: pointer;
        background: #49bf15 url(../img/icons/slider-prev.png) no-repeat center;
        outline: none;

    }

    // .slider-reviews__next
    &__next{
        width: 50px;
        height: 60px;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        transform: translateY(50%);
        cursor: pointer;
        background: #49bf15 url(../img/icons/slider-next.png) no-repeat center;
        outline: none;

    }

}

.slider-reviews__wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}
.item-slider {

    display: flex;
    width: 1170px;
    padding: 56px 60px 59px 60px;
    background: #fff;
    justify-content: space-between;
    flex-shrink: 0;

    // .item-slider__column

    &__column {
        width: 48%;
    }

    // .item-slider__media

    &__media {
        max-width: 510px;
        height: 310px;
        background-color: #1a1820;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .item-slider__preview

    &__preview {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    // .item-slider__prev-item

    &__prev-item {
        width: 72px;
        height: 55px;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0);


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;  
        }
    }

    // .item-slider__data

    &__data {
        
    }

    // .item-slider__client

    &__client {
    }
}

.prev-item__active{
    border: 2px solid #49bf15;

}

.data-item {

    // .data-item__parameters

    &__parameters {
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #1a1820;
        margin-bottom: 23px;

        &:last-child{
            margin-bottom: 0;
        }
        span{
            font-weight: bold;
        }
    }
}
.client-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;

    // .client-item__avatar

    &__avatar {
        margin-right: 20px;
        width: 50px;
        height: 48px;
        border-radius: 50%;
    }

    // .client-item__descr

    &__descr {
        font-family: ProximaNova;
        font-size: 14px;
        // font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #1a1820;
    }

    // .client-item__name

    &__name {
        
        font-size: 16px;
        font-weight: bold;
    }

    // .client-item__massage

    &__massage {
        border: 2px solid #49bf15;
        padding: 20px 30px 18px 20px;
        font-family: ProximaNova;
        font-style: italic;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #1a1820;
        position: relative;

        &:after{
            content: '';
            border: 2px solid #49bf15;
            border-bottom:  transparent;
            border-right: transparent;
            position: absolute;
            width: 10px;
            height: 10px;
            background: #fff;
            top: -8px;
            left: 35px;
            transform: skewY(47deg)

        }
    }
}


// ПОДВАЛ==========================================
.footer {
    background: url(../img/bg/bg-footer.jpg) repeat;

    // .footer__content

    &__content {
        padding-bottom: 100px;
        position: relative;

        &:after{
            content: '';
            width: 413px;
            height: 361px;
            background: url(../img/bg/hand.png);
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-30%);

        }
    }

    // .footer__form

    &__form {
    }
}

.form-footer {
    width: 821px;
    height: 316px;
    box-shadow: 0px 12px 18px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    margin: auto;
    padding-top: 51px;

    // .form-footer__title

    &__title {
        font-family: ProximaNova;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.82;
        letter-spacing: normal;
        text-align: center;
        color: #1a1820;
    }

    // .form-footer__inputs

    &__inputs {
        margin-top: 47px;
        display: flex;
        justify-content: center;
    }

    // .form-footer__input

    &__input {
        width: 256px;
        height: 54px;
        margin: 0 15px;

       
    }

    // .form-footer__btn

    &__btn {
        margin-top: 30px;
        width: 257px;
        height: 65px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.btn {
}
