@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
        url('fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
        url('fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Myriad Pro', sans-serif;
*/



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	max-width: 1024px;
	margin: 0 auto;
}

.header{
	padding-top: 26px;
	padding-bottom: 26px;
}
.header_wrapper{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	
}

.header_logo{
	display: flex;
	align-items: flex-end;
}

.logo_text{
	font-family: 'Nunito', sans-serif;
	font-size: 31px;
	color: #6d6e70;
	margin-left: 10px;
	line-height: .8;
}

.nav_link:last-child{
	margin-right: 0;
}
.nav{
	margin-top: auto;
	margin-bottom: auto;
}
.nav_link{

	outline: none;
	text-decoration: none;
	margin-right: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: rgba(102, 102, 102, 0.67);
}

.nav_link:hover{
	color: #6d6e70;
}

.login_btn{
	 width: 100px;
	height: 37px;
	opacity: 0.81;
	background-color: #add136;
	border: none;
	outline: none;
	border-radius: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}


/*МОДАЛЬНОЕ ОКНО*/

.modal_window{
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1500;
	background-color: rgba(0,0,0,.4);
	
}
.window_wrapper_wr{
	perspective: 1000;
	width: 350px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
}
.window_wrapper{
	transition: 0.5s;
	width: 350px;
	height: 550px;
	transform-style: preserve-3d;
	position: relative;
		
}

.log_in_wind{
	width: 350px;
	height: 550px;
	background-color: #fff;
	z-index: 1500;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;	
	border-radius: 5px;
	
}

.forget_window{
	backface-visibility: hidden;
	width: 350px;
	height: 550px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	background-color: #fff;
	
}

.registr{
	display: none;
	backface-visibility: hidden;
	width: 350px;
	height: 550px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	background-color: #fff;
}

.forget_password{
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;

}
	
.reg_form{
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
}

.open_modal{
	display: block;
}

.log_in_wind_title{
	font-family: 'Nunito', sans-serif;
	font-size: 31px;
	color: #6d6e70;
	margin-left: 10px;
	
	padding-top: 30px;
	margin-bottom: 35px;
	text-align: center;
}

.login_form{
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.login_form_input{
	width: 80%;
	height: 45px;
	margin-bottom: 35px;
	outline: none;
	border: 1px solid #a5a5a5;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	padding-left: 20px;
	font-size: 18px;
	color: #a5a5a5;

}

.login_form_btn{
	width: 80%;
	height: 45px;
	outline: none;
	border-radius: 5px;
	border: none;
	background-color: #add136;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	text-transform: uppercase;

}

.close_modal{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
	color: #6d6e70;
}

.form_label{
	margin-bottom: 20px;
	align-self: flex-start;
	margin-left: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #a5a5a5;
	font-size: 13px;
}

.form_label:before{
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #a5a5a5;
	border-radius: 3px;
	vertical-align: middle;
	margin-right: 10px;
}

input[type="checkbox"]:checked + .form_label::before{
	content: '';
	text-align: center;
	font-size: 15px;
	background-image: url(../images/checked-symbol.png);
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .45;
}


#form_checkbox{
	display: none;
}

.form_links{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}

.form_link{
	outline: none;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #a5a5a5;
	font-size: 15px;
}

.seporate{
	font-family: 'Open Sans', sans-serif;
	color: #a5a5a5;
	font-size: 15px;
}

/*СЕКЦИЯ BANNER*/

.banner{
	height: 570px;
	background-image: url(../images/banner_bg.png);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.banner:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #425948;
	opacity: .23;
	z-index: 10;
}

.slider{
	position: relative;
	z-index: 1000;
}

.slider_item{
	padding-top: 169px;

	outline: none;
}

.slider_item_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 49px;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	margin-bottom: 28px;
}

.slider_item_text{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #ffffff;
	font-size: 35px;
	font-weight: normal;
}

.slider_item_btn{
	width: 254px;
	height: 73px;
	background-color: #99c50a;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 59px;

}

.prev{
	background: url(../images/prev_btn.png);
	width: 13px;
	height: 20px;
	outline: none;
	border: none;
	background-color: none;
	position: absolute;
	bottom: -60px;
	right: 42px;
	z-index: 1500;
	cursor: pointer;
}

.next{
	background: url(../images/next_btn.png);
	width: 13px;
	height: 20px;
	outline: none;
	border: none;
	background-color: none;
	position: absolute;
	bottom: -60px;
	right: 0px;
	z-index: 1500;
	cursor: pointer;
}

/*СЕКЦИЯ OUR WORK*/

.our_work_logo{
	width: 58px;
	height: 58px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 99px;
	margin-bottom: 52px;
}
.our_work{
	margin-bottom: 100px;
}


.our_work_title{
	
	font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  font-weight: 600;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: center;
  color: #515151;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.our_work_text{
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	text-align: center;
	color: rgba(81, 81, 81, 0.71);
	max-width: 920px;
	margin-bottom: 50px;
}


/*ТАБЫ*/
.tab_control_item{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	padding-bottom: 37px;
	cursor: pointer;
	z-index: 1500;
}



.tab_control{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
	
	margin-bottom: 65px;
}

.tab_control_item_number{
	width: 43px;
	height: 43px;
	background-color: #5f5f5f;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	z-index: -10;
}

.tab_control_item_name{
	font-family: 'Open Sans', sans-serif;
	font-size: 33px;
	font-weight: 300;
	color: #656565;
	margin-left: 33px;
	position: relative;
	z-index: -10;
}

.tab_control_item:hover::after{
	content: '';
	position: absolute;
	width: 110%;
	height: 1px;
	background-color: #add136;
	bottom: 0;
}

.tab_control_item:last-child:hover::after{
	transform: translateX(-30px);
}
.tab_contant_item{
	display: none;

}
.active_tab_contant{
	display: flex;
}

.tab_contant_item_img{
	width: 113px;
	height: 102px;
	margin-top: 22px;
	margin-left: 57px;
}



.tab_contant_item_descr{
	padding-left: 105px;
}

.tab_contant_item_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-align: left;
	color: #add136;
	margin-bottom: 34px;
}

.tab_contant_item_text{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: left;
	color: rgba(96, 96, 96, 0.67);
	margin-bottom: 107px;
}

.active_item{
	background-color: #add136;
}


/*СЕКЦИЯ FIND*/

.find{
	display: flex;
}

.find_left{
	width: 50%;
	height: 305px;
	background-color: #e2f8ff;
	display: flex;
	justify-content: flex-end;
	padding-right: 73px;
}

.find_right{
	width: 50%;
	height: 305px;
	background-color: #f5f9eb;
	display: flex;
	justify-content: flex-start;
}

.find_left_img{
	height: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 46px;
}

.find_right_img{
	height: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: 78px;
}

.find_left_contant_title{
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	color: #515151;
	font-weight: 600;
	margin-top: 46px;
	margin-bottom: 34px;
}

.find_left_contant{
	max-width: 256px;
}

.find_left_contant_text{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: left;
	color: #515151;
	margin-bottom: 31px;
}

.find_left_contant_btn{
	width: 187px;
	height: 51px;
	border-radius: 7.8px;
	border: none;
	outline: none;
	background-color: #26a6d1;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14.5px;
	font-weight: 600;
	color: #ffffff;
}


.find_right_contant_title{
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	color: #515151;
	font-weight: 600;
	margin-top: 46px;
	margin-bottom: 34px;
}

.find_right_contant{
	margin-left: 72px;
	max-width: 256px;
}

.find_right_contant_text{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: left;
	color: #515151;
	margin-bottom: 31px;
}

.find_right_contant_btn{
	width: 187px;
	height: 51px;
	border-radius: 7.8px;
	border: none;
	outline: none;
	background-color: #add136;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14.5px;
	font-weight: 600;
	color: #ffffff;
}

/*СЕКЦИЯ PROJECTS*/

.projects_title{
	display: flex;
	margin-top: 81px;
	justify-content: space-between;
	margin-bottom: 66px;
}

.projects_title_caption{
	font-family: 'Open Sans', sans-serif;
  font-size: 29px;
  font-weight: 600;
  color: #515151;
  margin-bottom: 26px;
}

.projects_title_descr{
	font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #8f8f8f;
  max-width: 672px;
}

.projects_title_btn{
	width: 181px;
	height: 50px;
	border-radius: 8.7px;
	border: solid 1px #838383;
	background-color: #ffffff;
	outline: none;
	cursor: pointer;

	font-family: 'Open Sans', sans-serif;
	font-size: 14.5px;
	font-weight: 600;
	color: #515151;
}

.projects_title_btn:hover{
	color: #fff;
	background-color: #515151;
}
.projects_slider{
	display: flex;
	justify-content: space-between;
}

.projects_slider_item_wrapper{
	outline: none;

}
.projects_slider_item{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 520px;
	background-color: #f7f7f7;
	 border: solid 1px rgba(0, 0, 0, 0.14);
	 border-radius: 10px;
}

.projects_slider_item_img{
	width: 100%;
	height: 226px;
	overflow: hidden;
	position: relative;
	 border-radius: 10px 10px 0 0 ;

}

.projects_slider_item_img img{
	object-fit: cover;
	opacity: .85;
}

.projects_slider_item_description{
	padding-left: 25px;
	padding-right: 25px;
}

.projects_slider_item_adress{
	margin-top: 29px;
	font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #484848;
  margin-bottom: 17px;
}

.projects_slider_item_text{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-align: left;
	color: rgba(72, 72, 72, 0.71);
	line-height: 1.7;
}

.rounded{
	width: 100%;	
	height: 14px;
	border-radius: 20px;
	background-color: #e3e3e3;
	margin-top: 20px;
	position: relative;
}

.rounded_value{
	width: 10%;
	background-color: #add136;
	height: 100%;
	border-radius: 20px 0 0 20px;
}

.rounded_descr{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #8d8d8d;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.item_link{
	font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(72, 72, 72, 0.85);
  outline: none;
  text-decoration: none;
}

.slider_item_link i{
	color: #c0db65;
	font-size: 25px;
	margin-left: 10px;
}

.slider_item_link{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.new{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/new.png);
	width: 74px;
	height: 74px;
	border: none;
	border-radius: 10px 0 0 0;
}

.new span{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	transform: rotate(-45deg);
	font-weight: bold;
	left: 7px;
	top: 16px;
}

.projects_slider_item_img_btn{
	position: absolute;
	right: 15px;
	bottom: 21px;
	width: 139px;
	height: 35px;
	background-color: #26a6d1;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16.5px;
	color: #ffffff;
}

.projects_slider_item_img_btn span{
	font-weight: bold;
}

.value70{
	width: 70%;
}


.slick-list{
	width: 100%;
	
}

.slick-track:before{
	display: none;
}

.slick-track:after{
	display: none;
}


/*СЕКЦИЯ REVIEW*/

.review{
	position: relative;
	width: 100%;
	
}

.bg_img{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.bg_img img{
	width: 100%;
	height: 100%;
}

.wrapper{
	position: relative;
	z-index: 1000;
}

.review_title{
	margin-top: 79px;
	margin-bottom: 42px;
	font-family: 'Open Sans', sans-serif;
	font-size: 39px;
	font-weight: 600;
	text-align: center;
	color: #9ec02d;
}

.review_descr{
	max-width: 912px;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	text-align: center;
	color: #949494;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 98px;
}

.review_wrapper{
	display: flex;
	justify-content: space-between;
}

.review_message{
	position: relative;
}

.review_bg{
	position: absolute;
	top: 0;
	z-index: 1;
}

.review_contant{
	position: relative;
	z-index: 100;
	padding-top: 25px;
}

.review_item{
	width: 397px;
}

.review_contant_caption{
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 600;
	text-align: center;
	color: #9ec02d;
	margin-bottom: 22px;
}

.review_contant_text{
	 width: 319px;
  height: 59px;
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #848484;
  margin-left: 36px;
}

.review_person{
	margin-top: 58px;
	display: flex;
	align-items: center;
	margin-bottom: 61px;
}

.person_img{
	margin-left: 49px;
}

.person_name{
	margin-left: 18px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: left;
	color: #494949;
}


/*СЕКЦИЯ FOOTER */

.footer{
  font-size: 13px;
  text-align: center;
  color: #848484;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 1024px){
	.header_wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}

	.next{
		right: 20px;
	} 
	.prev{
		right: 62px;
	}

	.slider_item_title{
		font-size: 38px;
	}

	.slider_item_text{
		font-size: 28px;
	}

	.slider_item_btn{
		width: 220px;
		height: 60px;
		font-size: 16px;
	}

	.our_work_text {
		margin-bottom: 40px;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.wrapper{
		padding-left: 20px;
		padding-right: 20px;

	}

	.find_left {
		padding-right: 40px;
	}

	.find_right_img{
		margin-left: 40px;
	} 

	.find_right_contant {
		margin-left: 40px;
	}
	.find_left_img{
		margin-right: 40px;
	} 

}

.burger{
	display: none;
	padding: 15px 0;
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
}

.burger_item{
	position: relative;
	display: block;
	width: 28px;
	height: 3px;
	background-color: #6d6e70;
	font-size: 0;
	color: transparent;
}

.burger_item:before{
	content: '';
	width: 28px;
	height: 3px;
	background-color: #6d6e70;
	position: absolute;
	top: -10px;
	left: 0;
}

.burger_item:after{
	content: '';
	width: 28px;
	height: 3px;
	background-color: #6d6e70;
	position: absolute;
	bottom: -10px;
	left: 0;
}

@media screen and (max-width: 900px){
	.burger{
		display: block;
	}

	.nav{
		display: none;
	}

	.open{
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-top: 170px;
		align-items: flex-end;
		position: absolute;
		right: 0;
		background-color: #fff;
		width: 100%;
		padding-right: 20px;
		z-index: 1500;
		padding-bottom: 10px;
	}

	.nav_link{
		margin-right: 0;
		margin-top: 10px;
	}

	.login_btn{
		position: absolute;
		top: 5px;
		right: 70px;
		height: 30px;
		width: 90px;
		font-weight: 400;
		font-size: 12px;
	}
}

@media screen and (max-width: 810px){
	.banner{
		height: auto;
		padding-bottom: 50px;
	} 
	.next, .prev{
		bottom: -30px;
	}

	.slider_item {
		padding-top: 75px;
	}
	.slider_item_title{
		font-size: 30px;
	}

	.slider_item_text{
		font-size: 20px;
	}

	.slider_item_btn{
		width: 175px;
		height: 48px;
		font-size: 14px;
		border-radius: 5px;

	}

	.our_work_logo{
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.our_work_title{
		font-size: 25px;
		line-height: 1.2;
		margin-bottom: 40px;
	}
	.our_work_text{
		font-size: 14px;
	}

	.tab_control{
		margin-bottom: 40px;
	}
	.tab_control_item_number{
		width: 30px;
		height: 30px;
		font-size: 14px;
	}

	.tab_control_item_name{

		margin-left: 30px;
		font-size: 25px;
	}
	.tab_control_item{
		padding-bottom: 25px;
	}

	.active_tab_contant{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.tab_contant_item_img{
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.tab_contant_item_descr{
		padding: 0;
	}

	.tab_contant_item_title{
		text-align: center;
	}
	.tab_contant_item_text{
		text-align: center;
		margin-bottom: 30px;
	}

	.find{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.find_left, .find_right{
		width: 100%;
		justify-content: center;

	}
	.find_right_img{
		margin-left: 0;
	}
	.find_left_img{
		margin-right: 0;
	}
	.find_left_contant{
		margin-left: 40px;
	}
	.projects_title{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
	.projects_title_caption{
		text-align: center;
	}
	.projects_title_descr{
		text-align: center;
		margin-bottom: 30px;
	}

	.review_title{
		margin-top: 50px;
		font-size: 25px;

	}

	.review_descr{
		font-size: 14px;
		margin-bottom: 40px;
	}

	.review_message{
		width: 100%;
	}
	.review_item{
		width: 48%;
		

	}

	.review_message img{
		object-fit: cover;
		width: 80%;
	}

	.review_contant{
		padding-top: 10px;
		width: 80%;
	}
	.review_contant_caption{
		font-size: 16px;
		margin-bottom: 10px;
	}

	.review_contant_text{
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		font-size: 10px;
	}

	.review_person{
		margin-top: 40px;
		margin-bottom: 35px;
	}

	.person_img{
		margin-left: 25px;
	}

	.person_name{
		font-size: 13px;
	} 
}

@media screen and (max-width: 650px){
	.tab_control_item{
		padding-bottom: 13px;
		align-items: flex-start;

	} 

	.tab_control_item:hover::after{
		content: '';
		display: none;
	}

	.tab_control_item_name{
		margin-left: 10px;
		font-size: 20px;
	}

	.tab_contant_item_img img{
		object-fit: cover;
		width: 100%;
		height: auto;
	}

	.tab_contant_item_img{
		width: 80px;
		height: 90px;
	}

	.tab_contant_item_title{
		font-size: 20px;
		margin-bottom: 25px;
	}
	.tab_contant_item_text{
		font-size: 14px;
	}

	.projects_title{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.projects_title_caption{
		font-size: 25px;
	} 

	.projects_title_descr {
		font-size: 14px;
	}

	.review_contant{
		padding-top: 5px;
	}

	.review_contant_caption{
		margin-bottom: 5px;
		font-size: 14px;
	}
	.review_contant_text{
		height: auto;
		font-size: 9px;
	}

	.review_message img{
		width: 95%;
	}
	.review_contant{
		width: 95%;
	}
}

@media screen and (max-width: 460px){
	.slider_item_title{
		font-size: 19px;
	} 
	.slider_item_text{
		font-size: 16px;
	}

	.slider_item_btn{
		width: 155px;
		height: 40px;
		font-size: 13px;
	}
	.our_work_logo{
		margin-top: 40px;
		margin-bottom: 35px;
	}

	.our_work_title{
		margin-bottom: 35px;
		font-size: 20px;
	}
	.our_work_text{
		margin-bottom: 30px;
		font-size: 12px;
	}
	.tab_control_item_number{
		width: 25px;
		height: 25px;
		font-size: 12px;
	}

	.tab_control_item_name{
		font-size: 14px;
	}
	.tab_control_item{
		align-items: center;
	}

	.tab_contant_item_title{
		font-size: 15px;
	}
	.tab_contant_item_text{
		font-size: 12px;
	}

	.find_left, .find_right {
		padding: 0;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		height: auto;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.find_left_contant, .find_right_contant{
		margin-left: 0;
	}
	.find_left_contant_title, .find_right_contant_title, .find_right_contant_text, .find_left_contant_text{
		text-align: center;
		width: 100%;
	}

	.find_left_contant_btn, .find_right_contant_btn{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.review_message img {
		height: 120px;
	}

	.person_img{
		margin-left: 0;
	}
	.logo_text{
		font-size: 23px;
	}
	.logo{
		width: 30px;
		height: 30px;
	}

	.window_wrapper{
		top: 20px;
	}

	.log_in_wind_title{
		font-size: 23px;
	}

	.log_in_wind, .forget_window, .registr{
		height: 490px;
	}
	.tab_control_item_name{
		margin-left: 5px;
	}
	.tab_contant_item_title{
		padding-left: 10px;
		padding-right: 10px;
	}


}