*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




.home{
	width: 100%;
	height: 100vh;
	background-image: url(../images/home_bg.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.darknes{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);  
	z-index: 1;
}

.home_wr{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 100vh;
}

.home_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100%;
	z-index: 1000;

}

.home_text h1{
	margin-top: 30px;

	height: 45px;
	font-family: Roboto;
	font-size: 60px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.4;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.home_text p{
	margin-top: 40vh;
	height: 45px;
	font-family: Roboto;
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.4;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;

}

.anim_link{
	border: 2px solid #ffffff;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	bottom: 10vh;
	display: flex;
	justify-content: center;
	z-index: 1000;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 30vh;
}


.anim_link a i{
	font-size: 1.5rem;
	color: #fff;
	animation: change 1.35s  infinite linear;
	

}

.anim_link a{
	width: 100%;
	text-align: center;
}

@keyframes change{
	0% {
		
		transform: translateY(0);
	}
	25% {
		
		transform: translateY(25%);
	}
	50% {
		
		transform: translateY(50%);
		opacity: .7;

	}
	75% {
		
		transform: translateY(75%);
		opacity: .4;
	}
	100% {
		
		transform: translateY(100%);
		opacity: .1;
	}
}

.anim_link:hover{
	background-color: rgba(209,205,205,.3);
}


/*Блок МЕНЮ*/

.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;

}
.nav_wr{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}
.main_nav{
	width: 100%;
	height: 70px;
	background-color: #252e30;

}

.main_nav_logo{
	display: flex;
	align-items: center;

}

.logo{
	width: 70px;
	height: 70px;
}

.logo_item{
	fill: #fff;
	height: 100%;
	width: 100%;
}

.logo_descr{
  height: 100%;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 20px;


}

.logo_descr span{
	
	color: #2ecc71;
}

.main_nav_menu{
	width: 770px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav_links{
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  transition: .3s;
}

.nav_links:hover{
	color: #2ecc71;

}

/*БУРГЕР*/

.burger{
	display: none;
	padding: 15px 0;
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	
	
}

.burger_item{
	position: relative;
	display: block;
	width: 28px;
	height: 3px;
	background-color: #FFFFFF;
	font-size: 0;
	color: transparent;

}

.burger_item:before{
	content: '';
	width: 28px;
	
	height: 3px;
	background-color: #FFFFFF;
	position: absolute;
	top: -10px;
	left: 0;
}

.burger_item:after{
	content: '';
	height: 3px;
	width: 28px;

	background-color: #FFFFFF;
	position: absolute;
	bottom: -10px;
	left: 0;
}





/*РАЗДЕЛ Services*/

.services{
	
}

.services_wrap{
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
}

.services_item{
	max-width: 33.3%;
	height: 344px;
}

.services_item_caption{
	margin-top: 99px;
	height: 23px;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	line-height: 0.8;
	text-align: left;
	color: #566366;
}

.services_item_description{
	margin-top: 48px;
	width: 358px;
	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: normal;
	color: #919191;
	text-align: justify;
}


/*РАЗДЕЛ ABOUT ME*/

.about_me{
	background-color: #f2f2f1;
	position: relative;
	height: auto;
	
}

.about_me_img{
	width: 35%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: auto;
	background-image: url(../images/about_me_img.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.about_me_contant{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	height: 754px;
}

.about_me_caprion{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.8;
  text-align: left;
  color: #566366;
  margin-top: 100px;
}

.about_me_contant_wr{
	width: 678px;

}

.about_me_description{
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #919191;
  margin-top: 48px;
}

.about_me_description p{
	margin-top: 30px;
	text-align: justify;
}


/*РАЗДЕЛ MY SKILLS*/

.my_skills{
	width: 100%;
	/*height: 620px;*/
	

}

.my_skills_wrap{
	max-width: 1200px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.my_skills_description{
	width: 50%;
	padding-right: 40px;
}

.my_skills_description h2{
	margin-top: 60px;
	margin-bottom: 48px;
	height: 23px;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	line-height: 0.8;
	text-align: left;
	color: #566366;
	text-transform: uppercase;
}


.my_skills_description p{
	margin-bottom: 50px;
	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	color: #919191;
	text-align: justify;
}

.my_skills_contant{
	width: 50%;
}

.link_resume{
	width: 185px;
	height: 56px;
	border: solid 2px #2ecc71;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	/*text-align: center;*/
	color: #2ecc71;
	background-color: #fff;
	transition: .35s;
	margin-top: 20px;
	outline: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;

}

.link_resume:hover{
	background-color: #2ecc71;
	color: #fff;


}

.btn{
	width: 185px;
	height: 56px;
	border: solid 2px #2ecc71;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	color: #2ecc71;
	background-color: #fff;
	cursor: pointer;
	transition: .35s;
	margin-top: 20px;
	outline: none;
}

.btn:hover{
	background-color: #2ecc71;
	color: #fff;


}


/*ПРОГРЕСС БАР СКИЛОВ*/

.my_skills_contant{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.progress_bar_title{
	font-family: Roboto;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.09;
	text-align: left;
	color: #566366;
	margin-bottom: 10px;
	margin-top: 5px;
}

.progress_bar_skill{
	width: 100%;
	background-color: #f2f2f1;
	height: 30px;
}

.progress_bar_value{
	width: 0;
	background-color: #2ecc71;
	height: 100%;
	color: #fff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;

}


/*РАЗДЕЛ РЕЗЮМЕ*/


.resume{
	width: 100%;
	height: 415px;
	background-color: #f2f2f1;
	margin-top: 99px;
}

.resume_wrapper{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.resume_wrapper h2{
	margin-top: 100px;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	line-height: 0.8;
	text-align: center;
	color: #566366;
	margin-bottom: 48px;

}

.resume_wrapper p{
	max-width: 1200px;

	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	text-align: center;
	color: #919191;
	margin-bottom: 26px;
}


/*Раздел ПОРТФОЛИО*/

.portfolio{
	position: relative;

}

.portfolio_wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 99px;
}

.portfolio_title{
	
	margin-bottom: 48px;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	line-height: 0.8;
	text-align: center;
	color: #566366;
	text-transform: uppercase;
}


.portfolio_description{
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #919191;

}


.portfolio_contant{
	margin-top: 96px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio_item{

	width: 366px;
	height: 300px;
	

}

.portfolio_item_wr{
	position: relative;
	width: 366px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

.portfolio_item_wr::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2ecc71;
	opacity: .7;
	display: none;
	z-index: 1;

}


.portfolio_item_wr::after{
	content: "";
	background-image: url(../images/find.png);
	display: none;
	margin: -175px auto;
	width: 49px; 
    height: 49px; 
    z-index: 1000;
    position: relative;
}



.portfolio_item_wr:hover:before{
	display: block;
}

.portfolio_item_wr:hover:after{
	display: block;
}


/*МОДАЛЬНОЕ КОНО ПОРТФОЛИО*/

.item_modal{
	display: none;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 95vh;
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
	top: 70px;
}

.close{
	z-index: 50;
	color: #f1f1f1;
	position: absolute;
	top: 15px;
	right: 35px;
	font-size: 40px;
	font-weight: bold;
	transition: all .3s ease;
	cursor: pointer;


}

.modal_block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-200%);
	transition: all 1s ease;
}

.modal_contanet{
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	max-width: 100vw;
	max-height: 85vh;
	animation-name: zoom;
	animation-duration: .7s;
}

@keyframes zoom{
	from{transform: scale(0);}
	to{transform: scale(1);}
} 

/*СЕКЦИЯ CONTACT ME*/

.contact_me{
	width: 100%;
	height: 920px;
	background-color: #252e30;
	margin-top: 100px;
}

.contact_me_wrapper{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.contacts{
	width: 50%;
}
.contacts h2{
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	line-height: 0.8;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 48px;

}

.contacts_descr{
	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	color: #919191;
	text-align: justify;
}

.contacts_numbers{
	display: flex;
	padding-top: 130px;

}

.cont_name{
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #fff;
}

.cont_value{
	margin-left: 40px;
	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	text-align: left;
	color: #919191;
}

/*Форма Contact me*/

.contacts_form_wr{
	width: 50%;
	display: flex;
	justify-content: flex-end;

}

.contacts_form{
	/*margin-left: 92px;*/
	margin-top: 100px;
	width: 540px;

}

.contact_field{
	width: 100%;
}

.text_message{
	resize: none;
	overflow: auto;
	outline: none;
	width: 540px;
	height: 279px;
	background-color: #4b5456;
	font-family: Roboto;
	font-size: 30px;
	color: #fff;
	padding: 15px;
}

.field_name{
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #ffffff;
  margin-bottom: 19px;
}

.field_name::after{
	content: " *";
	color: #919191;
}

.contact_field{
	outline: none;
	width: 540px;
	height: 56px;
	background-color: #4b5456;
	font-family: Roboto;
	font-size: 30px;
	color: #fff;
	padding-left: 15px;
	margin-bottom: 39px;
}

.send_message{
	margin-top: 40px;
	width: 185px;
	height: 56px;
	background-color: #191f21;
	outline: none;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	transition: .35s;

}

.send_message:hover{
	background-color: #fff;
	color: #191f21;


}

/*FOOTER*/

.footer{
	background-color: #191f21;
	height: 187px;
}

.footer_wrapper{
	height: 187px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 30px;

}


.footer_rule{

	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;
	color: #4b5456;
}
.footer_links{
	display: flex;
	justify-content: space-around;
	width: 309px;
	margin: 0 auto;
	margin-top: 30px;

}
.footer_link{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4b5456;


}

.footer_link:hover .link_icon{
	fill: #fff;

}

.link_icon{
	fill: #191f21;
	width: 30px;
	height: 30px;
}


@media screen and (max-width: 1200px){
	.nav_wr{
		padding-right: 30px;
		padding-left: 30px;
	}

	.services_wrap{
		padding-right: 30px;
		padding-left: 30px;
	}
	.about_me_contant{
		padding-right: 30px;
	}
	.my_skills_wrap{
		padding-right: 30px;
		padding-left: 30px;
	}
	.resume_wrapper {
		padding-right: 30px;
		padding-left: 30px;
	}
	.portfolio_wrapper{
		padding-right: 30px;
		padding-left: 30px;
	}
	.contact_me_wrapper{
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (max-width: 1175px){
	.portfolio_contant{
		justify-content: space-evenly;
	}

	.portfolio_item_wr{
		margin-left: 50px;
		margin-right: 50px;
	}

	.services_item_description {
		width: 330px;
	}
}

@media screen and (max-width: 1110px){
	.about_me_contant_wr{
		width: 600px;
	}
	.contacts_form{
		width: 100%;
	}
	.contact_field{
		width: 100%;
	}
	.text_message{
		width: 100%;
	}
	.contacts{
		padding-right: 50px;
	}
	.services_item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.services_item_description {
		width: 100%;
	}
}

@media screen and (max-width: 1080px){
	.main_nav_menu{
		display: none;
	}
	.burger{
		display: block;
	}

	.open{
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	right: 0;
	background-color: #252e30;
	width: 100%;
	padding-right: 40px;
	}


}

@media screen and (max-width: 990px){
	.about_me_contant_wr{
		width: 540px;
	}
	.services_item{
		margin-bottom: 30px;
	}
}


@media screen and (max-width: 900px){
	.about_me_contant_wr{
		width: 480px;
	}
	
}

@media screen and (max-width: 810px){
	.about_me_contant_wr{
		width: 400px;
	}
	.services_wrap{
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}
	.services_item{
		max-width: 65%;
		height: auto;
		margin-bottom: 0;
	}

	.services_item_caption{
		margin-top: 50px;
		text-align: center;
	}
	.resume_wrapper h2{
		margin-top: 50px;
	}
	
}


@media screen and (max-width: 680px){
	.about_me_contant_wr{
		width: 340px;
	}
	.link_resume{
		margin-top: 0;
	} 
	
}

@media screen and (max-width: 590px){
	.about_me_img{
		display: none;
	}

	.portfolio_description{
		text-align: justify;
	}

	.about_me_contant{
		justify-content: center;
		padding-right: 0px;
		height: auto;
		padding-bottom: 50px;

	}
	.about_me_contant_wr{
		width: 85%;
	}
	.about_me_caprion{
		text-align: center;
	}
	.my_skills_wrap{
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
		max-width: 85%;
	}
	.my_skills{
		height: auto;
	}
	.my_skills_description{
		
		padding-right: 0;
		margin-bottom: 50px;
		width: 100%;
	}

	.my_skills_contant{
		width: 100%;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
	.btn{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.my_skills_description h2{
		text-align: center;
	}

	.resume{
		height: auto;
		margin-top: 30px;
	}

	.resume_wrapper{
		max-width: 85%;
		padding-left: 0;
		padding-right: 0;
	}

	.resume_wrapper p{
		text-align: justify;
	}

	.link_resume{
		margin-bottom: 35px;
	}

	.cont_value{
		margin-left: 20px;
		font-size: 14px;
	}
	.cont_name{
		font-size: 14px;
	}

	.contact_me_wrapper{
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}

	.contacts{
		width: 85%;
		padding-right: 0px;
		margin-left: auto;
		margin-right: auto;

	}

	.contacts h2{
		margin-top: 50px;
		text-align: center;
	}

	.contacts_numbers{
		padding-top: 50px;
	}

	.contacts_form_wr{
		width: 85%;
		padding-right: 0px;
		margin-left: auto;
		margin-right: auto;

	}
	.contact_me{
		height: auto;
	}

	.send_message{
		margin-bottom: 30px;
	}

	.home_text p{
		font-size: 18px;
	}

	.home_text h1{
		font-size: 45px;
	}

	.logo_descr{
		font-size: 18px;
	}

	.services_item{
		max-width: 85%;
		padding-left: 0;
		padding-right: 0;
	}

	.services_wrap{
		padding: 0;
	}

	.nav_wr{
		padding-right: 0px;
		padding-left: 0px;
		max-width: 85%;
	}

	.portfolio_contant{
		margin-top: 30px;
	}

	.portfolio_item_wr{
		width: 85%;
		height: auto;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.portfolio_item{
		width: 100%;
		height: auto;
	}

	.portfolio_item_wr:hover:before{
		display: none;
}

	.portfolio_item_wr:hover:after{
		display: none;
	}

}


@media screen and (max-width: 450px){

	.contacts h2{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.contacts_numbers{
		padding-top: 25px;
	}

	.contacts_form{
		margin-top: 25px;
	}

	.field_name {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.contact_field{
		margin-bottom: 15px;
		height: 35px;
		font-size: 20px;
	}

	.text_message{
		font-size: 20px;
		height: 200px;
	}

	.send_message{
		font-size: 12px;
		height: 40px;
		width: 130px;
	}

	.footer{
		height: auto;
	}

	.footer_wrapper{
		padding-top: 10px;
		height: auto;
	}

	.footer_rule{
		font-size: 10px;
	}

	.footer_links{
		margin-top: 15px;
		margin-bottom: 25px;
	}
}