@font-face {
    font-family: 'League Spartan Bold';
    src: url('fonts/League Spartan Bold/LeagueSpartan-Bold.eot');
    src: url('fonts/League Spartan Bold/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/League Spartan Bold/LeagueSpartan-Bold.woff2') format('woff2'),
        url('fonts/League Spartan Bold/LeagueSpartan-Bold.woff') format('woff'),
        url('fonts/League Spartan Bold/LeagueSpartan-Bold.ttf') format('truetype'),
        url('fonts/League Spartan Bold/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



/*
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'League Spartan Bold', sans-serif;

*/

*{
	margin: 0;
	padding: 0;
}

body{
	background: url(../img/bg-lines.png) repeat-y center ;
	
}


.container{
	width: 1224px;
	margin-left: auto;
	margin-right: auto;
	
	

}
.logo{
	
	
	margin-right: 190px;
}

.nav_wrapper{

	display: flex;
	height: 128px;
	align-items: center;
	


}
.navigation_items{
	
	display: flex;
	flex-direction: row;
	list-style-type: none;

}
.navigation_links{
	margin-right: 40px;
	line-height: 1;
}

.navigation_items:last-child{
	margin-right: 0;
}

.navigation_links a{
	text-decoration: none;
	margin-right: 26px;
	text-transform: uppercase;
	width: 406px;
	height: 8px;
	opacity: 0.9;
	color: #0b0c11;
	font-family: 'League Spartan Bold', arial;
	font-size: 9px;
	font-weight: 700;
	letter-spacing: 5.58px;


}

.header_slider{
	
position: relative;
/*margin-bottom: 95px;*/


}
.slide-item__img{
	width: 1015px;
	height: 570px;
	box-shadow: -16px 25px 20px rgba(11, 12, 17, 0.2);
	background-size: cover;
	margin-left: 208px;
	/*margin-right: 2px;*/
	margin-bottom: 95px;

}


.slide-item__img--bg-1{
	background: url(../img/head.png) no-repeat center ;
}

.slide_item--desc{
position: absolute;
width: 600px;
padding-left: 2px;
}

.slide_item-heading{
	width: 600px;
	margin-top: 199px;
}

.slide_item-heading span{
/* Style for "Your" */
width: 45px;
height: 8px;
opacity: 0.9;
color: #5da8ef;
font-family: 'League Spartan Bold', arial;
font-size: 9px;
font-weight: 700;
line-height: 66px;
text-transform: uppercase;
/* Text style for "Y, our" */
letter-spacing: 5.4px;
}


.slide_item-heading h2{
/* Style for "Beautiful" */
width: 473px;
height: 60px;
color: #0b0c11;
font-family: "Playfair Display";
font-size: 62px;
font-weight: 700;
line-height: 52px;
margin-bottom: 12px;

}

.slide_item-text p{
/* Style for "One of the" */
width: 389px;
height: 61px;
color: #8f8f8f;
font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 24px;
/* Text style for "O, ne of t" */
letter-spacing: 0.35px;
}

.slider__control{
	display: flex;
	position: absolute;
	bottom: 95px;
	z-index: 9;

}

.left{
	margin: 0 1rem;
}

.number{

width: 25px;
height: 10px;
color: #262626;
font-family: 'League Spartan Bold', arial;
font-size: 10px;
font-weight: 700;
line-height: 66px;

}

.active_number{
/* Text style for "1" */
color: #5da8ef;
letter-spacing: 4px;


}


.separate{
/* Text style for "/" */
color: #ebebeb;
letter-spacing: 4px;
text-transform: uppercase;	
}

.total_number{
	/* Text style for "5" */
letter-spacing: 4px;
}

.header_slider .sociat_items{
	width: 20px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	bottom: 95px;
	right: -55px;
	z-index: 9;

}
.header_slider .sociat_items a{
	margin-top: 34px;
}

.relative{
	position: relative;
}
.text_header{
position: absolute;
right: -50px;
top: 58px;
}

.text_content{
opacity: 0.2;
color: #0b0c11;
font-family: 'League Spartan Bold', arial;
font-size: 9px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
letter-spacing: 5.4px;
transform: rotate(-90deg) translateX(-100%);
position: absolute;
left: 0;
top: 0;
transform-origin: left top;
}

/*Section # 2*/

.text_descr{
	width: 610px;
	text-align: center;
	padding-top: 95px;
	margin-left: 300px;
	font-family: 'Playfair Display', serif;
	opacity: 0.9;
	color: #333333;
	font-size: 26px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0.26px;


}

.author{
	padding-top: 0;
	margin-top: 0;
	text-align: center;
	opacity: 0.9;
	color: #333333;
	font-family: 'League Spartan Bold', arial;
	font-size: 9px;
	font-weight: 700;
	line-height: 66px;
	text-transform: uppercase;
	/* Text style for "J, ohn McC" */
	letter-spacing: 5.4px;
	
	
}

.author::after{
	content: "";
	/* Style for "line" */
	width: 2px;
	height: 100px;
	background-color: #5da8ef;
	position: absolute;
	left: 50%;
	margin-top: 58px;
}

/*Section # 3*/

.section_wrapper{
	width: 100%;
	margin-top: 220px;
	position: relative;
	display: flex;
	flex-direction: column;
}
.container__img{

}
.container__img img{
	height: 370px;
	width: 613px;
}

.container__video{
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 1;
	
}
.container__video img{
	height: 549px;
	width: 706px;
}

.video_control{
	/* Style for "part" */
	width: 68px;
	height: 68px;
	box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
	background-color: #5da8ef;
	border-radius: 50px;
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%);
}
.video_control img{
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-31%, -50%);
	height: 12px;
	width: 12px;
}

.container__text{
	/* Style for "By better" */
width: 336px;
opacity: 0.65;
color: #616161;
font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 24px;
/* Text style for "B, y bette" */
letter-spacing: 0.35px;
margin-left: 117px;
margin-top: 58px;
}

.container_link{
color: #333333;
font-family: 'League Spartan Bold', arial;
font-size: 9px;
font-weight: 700;
text-transform: uppercase;
margin-top: 37px;
margin-left: 117px;
letter-spacing: 5.4px;
position: relative;


}

.container_link a{
	text-decoration: none;
	padding-bottom: 10px;
}

.container_link a:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 99px;
	height: 2px;
	background-color: #5da8ef;
	opacity: 0.7;

}


/*Section # 4 - shop*/
.shop_descr{
	margin-top: 195px;
	text-align: center;
}

.shop_descr h2{
	color: #333333;
	font-family: "Playfair Display";
	font-size: 42px;
	font-weight: 700;
	line-height: 1;

	letter-spacing: 0.42px;
}
.shop_descr h2 span{
	
	display: block;
	color: #5da8ef;
	font-family: 'League Spartan Bold', arial;
	font-size: 9px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 5.4px;
}

/*bords*/

.shop_bg{
	position: relative;
}

.shop_bg:after{
	position: absolute;
	content: "";
	top: -427px;
	bottom: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 984px;
	z-index: -1;
	background-image: url(../img/bg-lines.png), url(../img/shop_bg.png);
	background-repeat: repeat-y, no-repeat;
	background-position: center, center;
	background-size: auto, cover;
}

.link-wrap{
	display: flex;
	justify-content: center;
}

.shop_slider{
	margin-top: 50px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.boards{
	width: 335px;
	height: 447px;
	position: relative;
	

}

.bord_img_bg{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 247px;
	height: 319px;
	background-color: #e8e8e9;
	
	
}
.bord_img{
	
	position: absolute;
	bottom: 0;
	left: 50%;

	transform: translate(-70%, 0);
}

.bord_img img{
	height: 480px;
	/*width: 250px;*/

}

.owl-carousel .owl-item img{
	width: 220px;
}

.bord_desc{
	position: absolute;
	left: 216px;
	bottom: 139px;
	width: 200px;
}

.class_bord{

	color: #7a7a7a;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}

.name_bord{

	color: #333333;
	font-family: "Playfair Display";
	font-size: 26px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.26px;
}

.bord_prise{
	margin-top: 40px;
	margin-left: 55px;
	color: #ce60a8;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.1px;
}

.bord_link{

	color: #333333;
	font-family: 'League Spartan Bold', arial;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5.4px;
	margin-left: 59px;
}

.container_shop-link{
	color: #333333;
	font-family: 'League Spartan Bold', arial;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 69px;
	letter-spacing: 5.4px;
	position: relative;
}


.container_shop-link a{
	text-decoration: none;
	padding-bottom: 10px;
}

.container_shop-link a:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 88px;
	height: 2px;
	background-color: #5da8ef;
	opacity: 0.7;

}


.shopcontrolprev{
	position: absolute;
	left: -72px;
	bottom: 172px;
	z-index: 9;
}

.shopcontrolnext{
	position: absolute;
	right: -72px;
	bottom: 172px;
	z-index: 9;
}

@media screen and (max-width: 1400px){
	.shopcontrolnext{
		right: 72px;
		bottom: 0;
	}
	.shopcontrolprev{
		left: 72px;
		bottom: 0;
	}
}

/*Секция с первым постом*/

.post-wrapper{
	padding-top: 173px;
	padding-bottom: 60px;	
	display: flex;
}

.post_description{
	margin-left: 75px;
}
.post-link{
	margin-left: 0;
}

.post_title{
margin-top: 90px;
color: #333333;
font-family: 'Playfair Display', serif;
font-size: 42px;
font-weight: 700;
line-height: 66px;
position: relative;
letter-spacing: 0.42px;
}

.post_title::before{
	content: attr(data-number);

	position: absolute;
	left: 0;
	color: #f9f9f9;
	font-family: 'League Spartan Bold', arial;
	font-size: 130px;
	font-weight: 700;
	line-height: 66px;
	/* Text style for "0, 1" */
	letter-spacing: 10px;
	z-index: -1;
	top: -25px;
}

.post_title::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 23px;
	height: 2px;
	background-color: #5da8ef;
}

.post_prev_text{
	width: 336px;
	margin-right: 55px;
	margin-top: 47px;
	margin-bottom: 60px;
	opacity: 0.65;
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "B, y bette" */
	letter-spacing: 0.35px;
}
.post_prev{
	position: relative;
}
.post-slogon1{
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(30px);
}
.post-slogon-content{
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left top;
	transform: rotate(-90deg) translateX(-100%);
	/*text style*/


	opacity: 0.2;
	color: #0b0c11;
	font-family: 'League Spartan Bold', arial;
	font-size: 9px;
	font-weight: 700;
	
	text-transform: uppercase;
	letter-spacing: 5.4px;
}


/*Пост № 2*/

.post-wrapper-addo{
	display: flex;
	flex-direction: row-reverse;
	padding-top: 60px;


}

.post-wrapper-addo .post_prev{
	width: 490px;
	flex: 0 0 490px;
}


.post-slogon2{
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(-30px);
}


/*Раздел с подпиской*/

.container-wraper{
	position: relative;	
}

.container-wraper:after{
	position: absolute;
	content: "";
	top: -405px;
	bottom: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 1224px;
	z-index: -1;
	background-image: url(../img/bg-lines.png), url(../img/bg-sуrfer.png);
	background-repeat: repeat-y, no-repeat;
	background-position: center, center;
	background-size: auto, cover;
}

.cont-subscript{
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.cont-subscript::before{
	content: "";
	position: absolute;
	width: 2px;
	height: 100px;
	background-color: #5da8ef;
	top: -160px;

}

.subscription_title{

color: #333333;
font-family: 'Playfair Display', serif;
font-size: 42px;
font-weight: 700;
line-height: 66px;

letter-spacing: 0.42px;
}

.subscription_text{
	/* Style for "By better" */
	margin-top: 25px;
	margin-bottom: 37px;
	text-align: center;
	opacity: 0.65;
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "B, y bette" */
	letter-spacing: 0.35px;
}


.form{
	position: relative;
}

.email{
	
	width: 540px;
	height: 50px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
	background-color: #f5f5f5;
	border: none;


	/* Style for "Your E-mai" */

	opacity: 0.9;
	color: #333333;
	font-family: 'League Spartan Bold', sans-serif;
	font-size: 9px;
	line-height: 66px;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 5.4px;
	outline: none;
		
}

.send{
	
	width: 50px;
	height: 50px;
	background-color: #5da8ef;


	background-image: url(../img/slide_right.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: initial;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	border: none;
	
	
}

.camp{
	margin-top: 245px;
	position: relative;
	min-height: 478px;
}

.camp_img{
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: auto;
	background-image: url(../img/photo-for-end.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.camp_content{
	display: flex;
	justify-content: flex-end;
}

.camp_descr{
	width: 50%;
}

.camp_label{
	margin-left: 43px;
	margin-top: 107px;
	margin-bottom: 60px;

	/* Style for "Our Camp" */
	opacity: 0.27;
	color: #0b0c11;
	font-family: "League Spartan";
	font-size: 9px;
	font-weight: 700;
	line-height: 1px;
	text-transform: uppercase;
	/* Text style for "O, ur Camp" */
	letter-spacing: 5.58px;
}

.camp_adress{
	margin-left: 91px;

	/* Style for "CA 91932," */

	color: #333333;
	font-family: "Playfair Display";
	font-size: 32px;
	font-weight: 700;
	line-height: 46px;
	/* Text style for "C, A , 919" */
	letter-spacing: 0.32px;
}

.post-link_last{
	margin-top: 67px;
	margin-left: 42px;
	
}

.post-link_last a{
	color: #5da8ef;
}


.post-link_last:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 128px;
	height: 2px;
	background-color: #5da8ef;
	opacity: 0.7;
}

/*Footer*/



.sociat_items{
	margin-top: 40px;
	display: flex;
	align-items: center;
}


.container_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 98px;
}

.container_wrapper .logo{
	margin-right: 0;
	margin-bottom: 39px;
}

.nav_wrap{
	width: 490px;
}

.soc_foot{
	width: 115px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 97px;
}



/*Адаптация*/
@media screen and (max-width: 1400px){
	.header_slider .sociat_items{
		right: 30px;
		bottom: 30px;
		bottom: 95px;
	}
	.text_header{
		right: 50px;
		top: 145px;
		
	}
	.text_content{
		color: #fff;
		opacity: 1;
		z-index: 9;
	}
	.post-slogon1{
		right: 60px;
		top: 30px;
	}
	.post-slogon1 .post-slogon-content{
		color: #fff;
		opacity: 1;
	}

}